<nav>
  <img src="../../assets/img/logo.png" id="logo" alt="Netflix">
  <div class="buttons-wrapper">
      <button id="lang-btn" type="button">Español</button>
      <button id="login-btn" type="button" (click)="redirigirLogin()">Iniciar Sesion</button>
  </div>
</nav>
<div class="background-wrapper">
  <img id="background" [src]="rutaBackground" alt="...">
</div>
<div class="welcome-card">
  <h1>Películas y series ilimitadas<br>
      y mucho más.
  </h1>
  <h2>
      Disfruta donde quieras. Cancela cuando quieras.
  </h2>
  <p>
      ¿Quieres ver Netflix ya? Ingresa tu email
      para crear una cuenta o reiniciar tu
      membresía de Netflix.
  </p>
  <div class="form-wrapper">
      <input id="email-input" type="text" placeholder="Email">
      <button id="email-btn" type="button">Comenzar ></button>
  </div>
</div>
<app-menu [miVariable]="rutaBackground"></app-menu>
