<nav id="miNavbar" class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/logo.png" alt="Netflix" width="30" height="24" class="d-inline-block align-text-top">
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Series TV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Peliculas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Más Recientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Mi Lista</a>
      </li>
    </ul>
  </div>
</nav>
