@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400&display=swap');

body{
  margin: 0;
}
#background{
  height: 140%;
  width: 200%;
  position: relative;
  opacity: 40%;
  background-color: black;
}
.background-wrapper{
  height: 100vh;
  background-color: black;
}
nav{
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: transparent;
  width: 100%;
  display: inline;
}
#logo{
    max-width: 15%;
    margin-left: 18px;
    margin-top: 8px;
}
.login-card{
  position: absolute;
  height: 100vh;
  background-color: transparent;
  width: 40vw;
  top: 0;
  left: 30vw;
}
.login-form{
  position: relative;
  top: 100px;
  background: rgb(0,0,0,0.7);
  min-height: 70vh;
  width: 100%;
  padding: 70px;
}
.login-title{
  color: white;
  font-family: 'Martel Sans';
  font-weight: 900;
  text-align: left;
}
.login-input{
  background-color: #333333;
  color: #8C8C75;
  opacity: 100%;
  border: 0;
}
.extra-buttons{
  display: flex;
  justify-content: space-between;
  color: white;
}
#help-link{
  cursor: pointer;
}
.login-btn{
  width:100%;
  background-color: red;
  color: white;
  text-align: center;
  padding: 15px 0px 15px 0px;
  border: 0;
  border-radius: 5px;
}
.login-input:focus{
  background-color: #333333;
}
.login-input:focus::placeholder{
  font-size: 10px;
  position: absolute;
  top: 0;
}


