<nav>
  <img src="../../assets/img/logo.png" id="logo" alt="Netflix">
</nav>
<div class="background-wrapper">
  <img id="background" src="../../assets/img/landing.jpg" alt="...">
</div>
<div class="login-card">
  <div class="login-form">
    <h2 class="login-title">
      Inicia sesión
    </h2>
    <form>
      <input class="form-control mb-3 login-input" type="text" placeholder="Email o número de teléfono">
      <input class="form-control mb-3 login-input" type="password" placeholder="Contraseña">
    </form>
    <button class="login-btn mb-3" type="button">Iniciar Sesión</button>
    <div class="extra-buttons">
      <label><input class="remember-check mr-2" type="checkbox">Recuérdame</label>
      <a id="help-link">¿Necesitas ayuda?</a>
    </div>
  </div>
</div>
